.hero {
    background: linear-gradient(rgba(0, 123, 255, 0.45), rgba(0, 123, 255, 0.45)),
    url("/src/assets/images/hero-bg.jpg") center/cover no-repeat;
    color: #fff;
    position: relative;
    background-position: center;
    background-attachment: fixed;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left: 35px;
  padding-right: 35px;
}

.menu a {
  margin-left: 25px;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.menu a:hover {
color: #f7a64f;
}


.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 66%;
  margin: 0 auto;
  padding-bottom: 50px;
}



.phone-box {
  background: #f7a64f;
  display: inline-block;
  padding: 10px 18px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin-bottom: 30px;
}

.left h1 {
  font-size: 65px;
  line-height: 1.6em;
  margin: 0px;
  padding-bottom: 20px;
}

.left p {
    margin-bottom: 1.6em;
  max-width: 450px;
 margin-top: 0px;
}

.contact-btn {
  padding: 12px 30px;
  background: #ffffff;
  color: #6a2ba0;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.right-form {
  background: #fff;
  width: 340px;
  padding: 40px;
  color: #4a1f78;
  border-radius: 4px;
}

.right-form h5 {
  text-align: center;
  font-size: 13px;
}

.right-form h2 {
  text-align: center;
  margin: 10px 0 25px;
}

.right-form input,
.right-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  font-size: 14px;
}

.right-form textarea {
  height: 100px;
  resize: none;
}

.send-btn {
  width: 100%;
  padding: 12px;
  background: #7c32d4;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

.logo img {
    width: 114px;
}